@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0.1px 0.1px 0.2px hsl(var(--shadow-color) / 0.51),
    0.5px 0.5px 0.8px -2.5px hsl(var(--shadow-color) / 0.51);
  --shadow-elevation-medium:
    0.1px 0.1px 0.2px hsl(var(--shadow-color) / 0.48),
    0.6px 0.7px 1px -1.2px hsl(var(--shadow-color) / 0.48),
    2.4px 2.5px 3.9px -2.5px hsl(var(--shadow-color) / 0.48);
  --shadow-elevation-high:
    0.1px 0.1px 0.2px hsl(var(--shadow-color) / 0.44),
    0.9px 1px 1.5px -0.5px hsl(var(--shadow-color) / 0.44),
    2px 2.1px 3.3px -1px hsl(var(--shadow-color) / 0.44),
    3.8px 3.9px 6.1px -1.5px hsl(var(--shadow-color) / 0.44),
    7px 7.3px 11.4px -2px hsl(var(--shadow-color) / 0.44),
    12.1px 12.6px 19.7px -2.5px hsl(var(--shadow-color) / 0.44);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    /* max-width: 550px; */
    width: min(550px, 90%);
    /* max-height: 729px; */
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 0;
}

.input-container {
    height: max(285px,auto);
    display: flex;
    flex-direction: column;
    background-color: #6943FF;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    box-shadow: var(--shadow-elevation-high);
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: bolder;
    color: #FFFFFF;
    margin: 33px 0px 30px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    width: 117px;
    height: 83px;
    font-size: 58px;
    font-weight: bolder;
    text-align: center;
    color: #FFFFFF;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: 'Inter', sans-serif;
}

#convertBtn {
    width: 117px;
    height: 42px;
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 34px;
}

.results-container {
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    padding-top: 36px;
    padding-bottom: 12px;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--shadow-elevation-high);
}

.show-result {
    width: min(500px,85%);
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 23.43px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #5A537B;
    margin-top: 31px;
    margin-bottom: 9px;
    font-size: 20px
}

#results {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 18.57px;
    line-height: 20px;
    font-style: normal;
    color: #353535;
}